{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Update Student Course" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2 class="text-center">Update Student Course</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button class="sign-btn" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}
